<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELC OVO</title>
    <link rel="icon" href="img/ovo-icon.png" type="image/gif" sizes="32x32">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Share your Story</a></li>
        <li><a href="/testingcenters">Treatment Centers</a></li>
        <li><a href="#">OVO Challenge</a></li>
      </ul>
    <img src="img/ovo.png">
    <h1>Welcome</h1>
</body>
</html>