<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELC OVO</title>
    <link rel="icon" href="img/ovo-icon.png" type="image/gif" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/story.css">
</head>

<body>
    <div class="nav">
        <a href="/"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Home
            </button></a>
        <a href="/sharestory"><button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Share Your Story
            </button></a>
        <a href="/testingcenters"><button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Testing Centers
            </button></a>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Button
        </button>
    </div>
    <br>

    <div class="text">
        <h1>Share your Story on twitter and Connect with other Survivors/Patients!</h1>
        <h3>To share your experience dealing with Breast Cancer, click Share</h3>
        <h3>To connect with other people who understand how hard it is having breast cancer, click Connect</h3>
    </div>
    <div class="buttons">
        <button id="share"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Share
        </button>
        <button id="connect"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Connect
        </button>
    </div>

<div id = "tweets">

</div>

    <dialog class="mdl-dialog">
    </dialog>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxJHo8JohXZQe5yjMl8PTbAJAIHQf16hs&libraries=places"></script>
        <script id="twitter-wjs" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            (function(t,a,l,k,j,s){
            s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
            ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
            .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
            </script>
    <script src="./js/story.js" defer></script>
</body>

</html>