<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="controls">
        <h2>Simple <a href="https://www.firebase.com/tutorial/#gettingstarted">Firebase</a> Chat Demo</h2>
        
        <input type="text" id="n" placeholder="Name (optional)" maxlength="50" title="try using a valid hex string as your name such as #f00">
        <input type="text" id="m" placeholder="Message (required)" maxlength="200" title="you are awesome so keep it clean">
        
        <button id="go" onclick="addMessage()">Enter</button>
      </div>
      
      <div id="msg"></div>
      
      
      
</body>
</html>